fastapi
uvicorn[standard]
sqlalchemy
psycopg[binary]
pydantic[email]
python-multipart
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
google-auth
google-genai
requests
alembic
pytest
